<style type="text/css">
  body {
    font-size: 100%;
    width: 80%;
    margin-top: 110px;
  }
  #hidari {
    float: left;
    width:70%;
  }
  #annaizu {
   float: right;
   width:30%;
  }
  #nyuuryoku{
    float: left;
    width:30%;
  }
  #kensaku_button{
    float:right;
    width:40%;
  }
</style>
<!--<% if user_signed_in? %>-->
<!--  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>-->
<!--<% end %>-->
<div id="hidari">
  <div id="nyuuryoku">
    <!--出発地の文字とボタンの描画-->
    <p>出発地</p>
    <input id="start" type="textbox" size="80" value="大岡山駅" style="width:10em;height:1em;font-size:200%"><br>
    <!--目的地の文字とボタンの描画-->
    <p>目的地</p>
    <input id="end" type="textbox" size="80" value="駒沢大学駅" style="width:10em;height:1em;font-size:200%"><br>
  </div>    
  <div id="kensaku_button">
    <input type="button" value="ルート検索" onclick="calcRoute()" style="width:6em;height:5em;font-size:150%">
    <input type="button" value="印刷する" onclick="window.print();" style="width:6em;height:5em;font-size:150%">
  </div>
　<div id="map_annaiban">
    <!--地図本体の描画-->
    <div id="map" style="width: 600px; height: 500px;"></div>
    <div id="directionsPanel" style="width: 700px; height: 1200px"></div>
  </div>
</div>
<div id="annaizu"style="width:200px;"></div>
<input type='hidden' id='user_id', value="<%= current_user.id %>">