// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .bg-color-navy {
    background-color: #F26964;
    p {
        color: white;
    }
  }
  .bg-color-white {
    background-color: white;
  }
  
}
.actions {
  //ログインするボタンの見た目
  input {
    width: 200px;
    height: 30px;
  }
}
