<FONT size="1">
    <div id="site-box">
    <div id="map" style="width: 800px; height: 600px;"></div>
    <div id="information">
        <input id="origin" type="textbox" value="大岡山駅" size="40" ><br />
        <input id="destination" type="textbox" value="石川台駅" size="40" ><br />
        <input type="button" value="SEARCH" onclick="searchRoute()">
    </div>

    <input type="button" value="Marker+" onclick="plotLoop1(2)">
    <br>
    <input type="button" value="DUMP" onclick="dumpStrView(2)">
    </div>
    </div>
</FONT>