<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGqAri4cCw1hQu66nIEjT5d-uk8cV_XD0&libraries=places" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize()" link="#ffff00" vlink="#ffff00" alink="##ffff00">

<%= yield %>

</body>
</html>
